# Ignore all files except Markdown (.md), PDF (.pdf), and LICENSE documentation

# Ignore everything
*
# Re-include directories (so git can traverse)
!*/
# Track all Markdown files
!*.md
!*.MD
# Track all PDF files
!*.pdf
# Track this file
!.gitignore
# Track LICENSE file
!LICENSE